<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <h4><span class="title"><%= entry.title %></span></h4>
  <span class="content"><%= entry.content %></span>
  <span class="timestamp">
    <%= link_to "View Comments ", entry %>
    | Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
</li>